/* common shared code */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 87.5%;
  max-width: 1400px;
  margin: 20px auto;
}

.btn-primary {
  background-color: #ff0000;
  color: #f4eeee;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-left: 20px;
}

/* banner section style */

.container {
  width: 1250px;
}

.banner {
  background-image: url("../images/BannerImage.png"),
    linear-gradient(180deg, #0b0a0ad3, #070211d2);

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
}
.banner-content {
  width: 600px;
  text-align: center;
}
.banner-content > h4 {
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}

.banner-content > h1 {
  font-family: "Merriweather", serif;
  font-size: 72px;
  line-height: 90px;
  font-weight: 900;
  color: #fff;
}

/* discount section style */
.discount {
  text-align: center;
  margin: 120px auto;
  height: 700;
}

.discount h3 {
  font-family: "Inter", sans-serif;
  font-size: 85px;
  font-weight: 700;
  color: #ff0000;
  margin-bottom: 48px;
}

.discount h6 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ff0000;
  margin-bottom: 16px;
}

.discount h4 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #070211;
  margin-bottom: 48px;
}

.discount img {
  width: 800px;
  height: 500px;
}

/* party section design */

.party {
  background-image: url("../images/PartyBg.png"),
    linear-gradient(180deg, #0b0a0ad3, #070211d2);
  border-radius: 10px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.party-content {
  width: 630px;
}

.party-content h1 {
  font-family: "Merriweather", serif;
  font-size: 64px;
  line-height: 90px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 24px;
}

.party-content p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 48px;
}

/* portfolio section */

.portfolio {
  margin-top: 120px;
  margin-left: 0;
}

.portfolio .portfolio-text {
  width: 650px;
}

.portfolio .portfolio-text h4 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #ff0000;
  margin-bottom: 16px;
}

.portfolio .portfolio-text h2 {
  font-family: "Merriweather", serif;
  font-size: 48px;
  line-height: 60px;
  font-weight: 900;
  color: #000;
  margin-bottom: 22px;
}

.portfolio .portfolio-text p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 48px;
}

/* portfilio grid style */

.portfolio-grid {
  width: 1250px;
  height: 1000px;
  margin: 48px auto;
}

.portfolio-grid-section {
  display: flex;
  column-gap: 24px;
  margin-bottom: 24px;
  justify-content: center;
}

.portfolio-grid-section img {
  width: 375px;
  height: 400px;
  border-radius: 15px;
}

/* news latter section */

.newsletter {
  background-color: #ff00000d;
  width: 1250px;
  height: 600px;
  border-radius: 15px;
}

.newsletter-content {
  width: 800px;
  text-align: center;
  margin: 80px auto;
}

.newsletter-content img {
  width: 125px;
  height: 125px;
  margin-top: 80px;
}
.newsletter-content img {
  width: 125px;
  height: 125px;
  margin-top: 80px;
}

.newsletter-content h1 {
  font-family: "Merriweather", serif;
  font-size: 48px;
  line-height: 90px;
  font-weight: 900;
  color: #000;
  margin-top: 40px;
}

.newsletter-content p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #000000;
  margin-top: 22px;
  margin-bottom: 48px;
}

.newsletter-content input {
  background-color: #fff;
  border: none;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  padding: 20px 100px;
  margin-right: 0;
}

.newsletter-content input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding-left: 0;
}
.newsletter-content button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  padding: 16px 50px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;

  margin-left: 0;
}
